body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header {
    width: 100%;
    height: 170px;
    background-image: linear-gradient(#FEFDFD,#faf4f5,#FAE4E7);
}

h1, p.outros-tipos {
    display: inline-block;
}

header h2 {
    font-style: ;
}